@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-image: url("../images/bg1.jpg");
  background-size: auto;
  /* height: 100%;
  width: 100%; */

  background-repeat: no-repeat;
  /*we want to have one single image not a repeated one*/
  background-size: auto;

  /*this sets the image to fullscreen covering the whole screen*/
  /*css hack for ie*/

  color: rgb(250, 246, 246);
}

.span_format {
  font-size: 0.87em;
  color: rgb(197, 196, 196);
}

.createEmp {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-image: url("../images/bg1.jpg");
  height: 100%;
  width: 100%;

  background-repeat: no-repeat;
  /*we want to have one single image not a repeated one*/
  background-size: 150% 205%;

  /*this sets the image to fullscreen covering the whole screen*/
  /*css hack for ie*/

  color: rgb(250, 246, 246);
}

.create_emp_form {
  margin-bottom: 35px;
  margin-top: 35px;
  width: 560px;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.925);
  background: rgba(36, 1, 46, 0.925);

  border-radius: 1rem;

  padding: 15px;
  max-width: 100%;
}
.login-container {
  height: 100%;
  width: 100%;
}

.signup-container {
  height: 100%;
  width: 100%;
  margin-top: 120px;
  padding-top: 5%;
}

.login-form {
  margin: auto;
  width: 400px;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.959);
  background: rgba(36, 1, 46, 0.925);

  border-radius: 1rem;

  padding: 15px;
  max-width: 100%;
}

.signup_form {
  margin-bottom: 35px;
  margin-top: 35px;
  width: 560px;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.925);
  background: rgba(36, 1, 46, 0.925);

  border-radius: 1rem;

  padding: 15px;
  max-width: 100%;
}

.fill_text {
  color: white;
  font-weight: 500;
}

.create_acc_text {
  font-size: 1.5em;
  color: rgba(74, 126, 221, 0.829);
  font-weight: bolder;
}

.login-form .form-control {
  font-size: 15px;
  min-height: 48px;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #666;
}

.forgot-link {
  font-size: 13px;
}

.form-control:focus {
  border-color: #51a343;
  box-shadow: 2px 2px 2px 2px rgba(96, 231, 96, 0.5);
}

.btn-custom {
  background: #51a343;
  /* border-color:#51A343; */
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  min-height: 48px;
  border: none;
  border-radius: 15px;
  /* box-shadow: 0px 8px 15px rgba(23, 26, 23, 0.5); */
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.btn-custom:focus,
.btn-custom:hover,
.btn-custom:active,
.btn-custom:active:focus {
  background-color: rgb(46, 229, 77);
  box-shadow: 0px 15px 20px rgba(46, 229, 131, 0.4);
  color: #fff;
  border-radius: 25px;
  transform: translateY(-7px);
}

.btn-custom:focus {
  box-shadow: 2px 2px 2px 2px rgba(96, 231, 96, 0.5);
}

label {
  padding-bottom: 3px;
  display: flex;
  margin: 0 7px;
  align-content: flex-start;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: dotted;
  border-width: 1px;
}

/* ================================================================== */

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url("../fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-Bold;
  src: url("../fonts/poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: Poppins-Medium;
  src: url("../fonts/poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: Montserrat-Bold;
  src: url("../fonts/montserrat/Montserrat-Bold.ttf");
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: Poppins-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: #57b846;
}

/*---------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

ul,
li {
  margin: 0px;
  list-style-type: none;
}

/*---------------------------------------------*/
input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  color: #999999;
}

input:-moz-placeholder {
  color: #999999;
}

input::-moz-placeholder {
  color: #999999;
}

input:-ms-input-placeholder {
  color: #999999;
}

textarea::-webkit-input-placeholder {
  color: #999999;
}

textarea:-moz-placeholder {
  color: #999999;
}

textarea::-moz-placeholder {
  color: #999999;
}

textarea:-ms-input-placeholder {
  color: #999999;
}

/*---------------------------------------------*/
.wrapper {
  text-align: center;
}

.headerPosition {
  text-align: center;
  position: absolute;
}

/*
button {
  background-color: #6a4acd;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: absolute;
  top: 50%;
}
*/
/* Chris' Edit */
/* Button Group */
.a {
  width: 100%;
  text-align: center;
  font-size: 16px;
}
.btn-group button {
  background-color: rgba(36, 1, 46, 0.925); /* Green background */
  border: 1px solid green; /* Green border */
  border-radius: 8px;
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  display: flex; /* Make the buttons appear below each other */
  align-items: center;
  justify-content: center;

  text-align: center;
  font-size: 16px;
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}
/* 
page {
  width: 500px;
  height: 500px;
} */

table#cleanerTable,
th,
td {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  text-align: center;
  padding: 15px;
  width: 25%;
}

table#cleanerTable tr:nth-child(even) {
  background-color: rgb(120, 120, 120);
}

table#cleanerTable tr:nth-child(odd) {
  background-color: #eee;
}

/* Change color of the first row */
table#cleanerTable tr:nth-child(1) {
  color: rgb(240, 240, 240);
  background-color: #007c41;
  align-items: center;
}

/* Change color of the second row */
table#cleanerTable tr:nth-child(2) {
  background-color: #555;
  color: white;
}

iframe {
  border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: #999999;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 1em;
  font-weight: 800;
  line-height: 1.5;
  color: #4073fd;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.wrap-login100 {
  width: 960px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 177px 130px 33px 95px;
}

/*------------------------------------------------------------------
[  ]*/
.login100-pic {
  width: 316px;
}

.login100-pic img {
  max-width: 100%;
}

/*------------------------------------------------------------------
[  ]*/
.login100-form {
  width: 290px;
}

.login100-form-title {
  font-family: Poppins-Bold;
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: center;

  width: 100%;
  display: block;
  padding-bottom: 54px;
}

/*---------------------------------------------*/
.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}

.input100 {
  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.5;
  color: #000000;

  display: block;
  width: 100%;
  background: #ffffff;
  height: 50px;
  border-radius: 10px;
  padding: 0 20px 0 40px;
}

.input200 {
  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.5;
  color: #000000;

  display: grid;
  width: 100%;
  background: #ffffff;
  height: 50px;
  border-radius: 10px;
  padding: 0px 20px 0px 40px;
}

.input300 {
  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.5;
  color: #000000;

  display: grid;
  width: 100%;
  background: #ffffff;
  height: 50px;
  border-radius: 10px;
  padding: 0 20px 0 10px;
}

/*------------------------------------------------------------------
[ Focus ]*/
.focus-input100:not(label) {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(87, 184, 70, 0.8);
}

.input100:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

.input200:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

.input300:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

.symbol-input100 {
  font-size: 15px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 15px;
  padding-top: 1.5rem;
  pointer-events: none;
  color: #2367a7;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
  color: #57b846;
  padding-left: 10px;
}

.input200:focus + .focus-input100 + .symbol-input100 {
  color: #57b846;
  padding-left: 10px;
}

.input300:focus + .focus-input100 + .symbol-input100 {
  color: #57b846;
  padding-left: 10px;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.login100-form-btn {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;

  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #57b846;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background: #333333;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 992px) {
  .wrap-login100 {
    padding: 177px 90px 33px 85px;
  }

  .login100-pic {
    width: 35%;
  }

  .login100-form {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .wrap-login100 {
    padding: 100px 80px 33px 80px;
  }

  .login100-pic {
    display: none;
  }

  .login100-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 100px 15px 33px 15px;
  }
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 13px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;

  font-family: Poppins-Medium;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

.js-tilt {
  height: 150px;
  width: 100%;
  margin-bottom: 5%;
}

.js-tilt img {
  height: 150px;
  width: 250px;
}
